<div class="d-flex flex-column w-100 content-home">
  <div class="w-100 text-center header">
    <div class="d-flex flex-column">
      <h1>HOME</h1>
      <span>00</span>
    </div>
    <div class="d-flex flex-column tap-to-start">
      <h1>TAP TO START</h1>
      <span class="initial-counter">08:00</span>
    </div>
    <div class="d-flex flex-column">
      <h1>AWAY</h1>
      <span>00</span>
    </div>
  </div>
  <div class="w-100 text-center body">
    <div class="d-flex flex-column fouls">
      <h1>FOULS</h1>
      <span>00</span>
    </div>
    <div class="d-flex flex-column">
      <span class="counter">24</span>
    </div>
    <div class="d-flex flex-column fouls">
      <h1>FOULS</h1>
      <span>00</span>
    </div>
  </div>
  <div class="w-100 text-center body">
    <div class="d-flex flex-column fouls">
      <h1>TIMEOUTS</h1>
      <span>00</span>
    </div>
    <div class="d-flex flex-column period">
      <h1>PERIOD</h1>
      <span>1</span>
    </div>
    <div class="d-flex flex-column fouls">
      <h1>TIMEOUTS</h1>
      <span>00</span>
    </div>
  </div>
</div>
